.wadah {
    display: flex;
    padding-top: 10px;
    padding-left: 50px;
}

.propil {
  .propil{
    height: 650px;
    width: 250px;
    padding-top: 20px;
    padding-left: 20px;
    text-align: center;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-right: 20px;

   

}
.gambarkiri {
    padding-top: 30px;
    transform: scale(1.7);
}
.nama {
    padding-top: 70px;
    font-weight: bold;
    font-size: 20px;
}
.email {
    padding-top: 15px;
}
.about {
    padding-top: 100px;
    font-weight: bold;
    font-size: 20px;
}
.keterangan {
    padding-top: 30px;

    width: 90%;
    padding-left: 35px;
}
.wadahedit {
    padding-left: 30px;
}
.editprofil {
    height: 650px;
    width:800px;
    padding-top: 20px;
    padding-left: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  
}

.change{
color: #000000;
box-sizing: border-box;
display: flex;
justify-content: center;
align-items: center;
font-size: 12px;
width: 150px;
height: 40px;
border: 2px solid rgba(0, 0, 0, 0.5);
border-radius: 5px;
  }

/* .gambarkanan{
    transform: scale(1.2);
} */


.remove {
    background: #ffffff;
    color: #ba181be8;
    border: none;
    padding-left: 50px;
}
.judulkanan {
    padding-top: 20px;
    font-weight: bold;
    font-size: 20px;
}
.input {
    width: 97%;

    background-color: #f2f4f8;
}
#About {
    width: 300px;
    background-color: #f2f4f8;
}
.Cancel {
    border-radius: 7px;
    color: #ffffff;
    background-color: #7a7a7a;
}
.Update {
    border-radius: 7px;
    color: #ffffff;
    background-color: #A4161A;
    border: none;
    color: #ffffff;
}
