.wadah {

}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tittle-container {
    text-align: center;
    margin-top: 50px;
}

.tittle-container h1 {
    color: #333;
    margin-top: 10px;
}

.container {
    display: flex;
    margin: auto;
    align-items: center;

    background-color: #f0f0f0;


}

.mb-5 {
    margin-bottom: 3rem !important;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    border: none !important;

    background-color: transparent !important;
    width: 19rem;
    height: auto;

}
.child{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    transition: .3s;
    padding-top: 1rem;
}
.child:hover{
    box-shadow: 0 0 10px rgb(125, 125, 125);
    transition: .3s;
}
.card div table tr td {
    padding: 5px 10px;
    font-size: 70%;
}

.card div ul li {
    list-style: none;
}

.merah div ul li {
    color: red;
}

.plan-title {
    font-weight: bold;
    font-size: 20px;
}

.price {
    color: #333;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 10px;
}

.features {
    margin-top: 10px;
}

.btn {
    margin-top: 10px;
}


@media screen and (max-width: 1024px) {
    .container {
        flex-wrap: wrap;

    }

    .card {
        flex: 0 0 calc(33.333% - 20px);
        max-width: calc(33.333% - 20px);

    }
}


@media screen and (min-width: 1025px) {

}



