/* adminafterpayment.css */

/* Style for the main container */
.wadah {
    background-color: #f8f9fa;
    border-radius: 10px;
}

/* Style for the heading */
.wadah h2 {
    color: #007bff;
}

/* Style for the modal */
.modal-content {
    border-radius: 10px;
}

/* Style for the modal header */
.modal-header {
    background-color: #007bff;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* Style for the modal body */
.modal-body {
    padding: 20px;
}

/* Style for the form input fields */
.form-group {
    margin-bottom: 20px;
}

/* Style for the search bar */
.wrap {
    width: 100%;
    position: relative;
}

.searchTerm {
    width: 30%;
    border: 2px solid #007bff;
    border-right: none;
    padding: 15px;
    height: 40px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.searchButton {
    width: 30px; /* Mengurangi lebar tombol */
    height: 40px;
    border: 1px solid #007bff;
    background: #007bff;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

/* Responsive styles for small devices */
@media screen and (max-width: 768px) {
    .wrap {
        margin-top: 100px;
    }
}
