/* Gaya dasar untuk kartu */
.dashboard{
  display: flex;
}

.kartu1{
    width: 300px;
    height: 300px;
    background-color:#0063F8;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 20px;
    font-size: 50px; /* Memperbesar ukuran angka pada kartu */
    margin-top: 100px; /* Menggeser kartu ke bawah sejauh 20px */
    margin-left: 50px; /* Menggeser kartu ke samping kanan sejauh 20px */
    position: relative;
  }
  .kartu2{
    width: 300px;
    height:300px;
    background-color:#169423;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 20px;
    font-size: 50px; /* Memperbesar ukuran angka pada kartu */
    margin-top: 100px; /* Menggeser kartu ke bawah sejauh 20px */
    margin-left: 50px; /* Menggeser kartu ke samping kanan sejauh 20px */
    position: relative;
  }
  .kartu3{
    width: 300px;
    height:300px;
    background-color:#CA3636;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 20px;
    font-size: 50px; /* Memperbesar ukuran angka pada kartu */
    margin-top: 100px; /* Menggeser kartu ke bawah sejauh 20px */
    margin-left: 50px; /* Menggeser kartu ke samping kanan sejauh 20px */
    position:relative;
  }
  
  /* Gaya untuk judul */
  .kartu-judul {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* Gaya untuk tabel */
  .kartu-tabel {
    width: 100%;
    border-collapse: collapse;
  }
  
  .kartu-tabel th,
  .kartu-tabel td {
    padding: 5px;
    text-align: center;
    border: 1px solid #ddd;
  }
  
  .kartu-tabel th {
    background-color: #f2f2f2;
  }
  .kartu1 {
    color: #FFFFFF;
}
.kartu2 {
    color: #FFFFFF;
}
.kartu3 {
    color: #FFFFFF;
}
.logo1 {
  width: 100px; /* Ubah ukuran gambar sesuai kebutuhan */
  height: auto; /* Biarkan tinggi otomatis sesuai perbandingan aspek */
  float: right; /* Mengatur gambar ke tepi kanan */
  margin-left: 20px; /* Menambahkan jarak antara gambar dengan elemen sekitarnya */
  margin-top: 120px; /* Menggeser gambar ke bawah sejauh 20px */
}
.icon2,.icon1,.icon3{
  position: absolute;
  bottom:0%;
  right:0%;
  font-size:220%;
  opacity: .5;
}
.icon4{
  position: absolute;
  top:-13%;
  left:40%;
  font-size:100%;
  width: max-content !important;
  height: max-content !important;
}
