* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 body {
    font-family: sans-serif;
    background-color: #f5f5f5;
 }
 
 .container {
    max-width: 750px;
    margin: 0 auto;
 }
 .login{
    font-weight: bold;
    text-align: center;
    color: #A4161A;
    /* background-color: #f7f7f7; */
    /* border-bottom: 1px solid #ccc; */
    padding: 10px;
    width: 100%;
    font-size: 30px;
 }
 
 .card {
    margin-top: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
 }

.logo{
    margin-top: 10px;
 }
 
 form {
    margin-top: 20px;
    width: 100%;
 }
 
 .form-group,.input-group {
    margin-bottom: 15px;
 }
 
 label {
    width: 100%;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
 }
 .red-star{
    color: #A4161A;
 }


 /* input[type="text"],
 input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
    margin-top: 10px;
 }
 
 input[type="text"]:focus,
 input[type="password"]:focus {
    border-color: #999;
 } */
 
 button {
    margin-top: 10px;
    padding: 10px 20px;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color:#6C757D ;
    color: #fff;
 }

 button:hover {
    background-color:#6C757D ;
 }
 
 a {
    text-decoration: none;
    color: #333;
 }
 
 a:hover {
    text-decoration: underline;
 }
 
 .footer {
    margin-top: 20px;
    text-align: center;
 }
 
 @media (max-width: 768px) {
    .container {
        width: 100%;
    }
 }
 .fz5{
     font-size: 50% !important;
 }
 .fz6{
     font-size: 60% !important;
 }
 .fz7{
     font-size: 70% !important;
 }
 .fz8{
     font-size: 80% !important;
 }
 .fz9{
     font-size: 90% !important;
     color: #A4161A !important;
     text-decoration: none;
 }
.daftar,.icon{
    color: #660708;
    text-decoration: none;
}

