
.kembali{
    border: none;
    background-color: rgba(0, 0, 0, 0);
    font-weight: bold;
    padding-top: 20px;
    padding-left: 20px;
}
.wadah{
    text-align: center;
    padding-top: 50px;
}
.judul{
    color: #A4161A;
    font-weight: bold;
    font-size: 40px;
}
.teks{
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 50px;
}
input{
    height: 50px;
    width: 200px;
    border-radius: 30px;
    padding-left: 20px;
}
.continue{
    background: #A4161A;
    width: 200px;
    height: 40px;
    color: #ffffff;
    border-radius: 30px;
}
.bawah{
    padding-top: 60px;
}
.atas{
    padding-top: 20px;
}

