/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"); */

.nav-mobile,
.list-mobile {
    display: none;
}
.menu-navbar,
.nav-mobile,
.list-mobile {
    display: none;
}
.menu-navbar,
.menu-reg {
    padding: 10px 20px;
    display: inline-block;
    position: relative;
    padding: 10px 20px;
    display: inline-block;
    position: relative;
    text-decoration: none;
    
}

.menu-navbar {
    color: #000;
}


.menu-navbar {
    color: #000;
}

.menu-reg {
    color: #a61c1c;

}

.menu-navbar:before,
.menu-reg:before {
    content: "";
    position: absolute;
    top: 8px;
    bottom: 8px;
    left: 8px;
    right: 8px;
    border-radius: 20px;
    transition: background-color 0.3s;
    z-index: -1;
}

.menu-navbar:before,
.menu-reg:before {
    content: "";
    position: absolute;
    top: 8px;
    bottom: 8px;
    left: 8px;
    right: 8px;
    border-radius: 20px;
    transition: background-color 0.3s;
    z-index: -1;
}
.menu-navbar:hover:before {
    background-color: #a61c1c;
}
.menu-navbar:hover:before {
    background-color: #a61c1c;
}
.menu-navbar:hover {
    color: #ffffff;
}
.menu-reg:hover {
    color: #a61c1c;
    border: 2px solid #a61c1c;
    border-radius: 8px;
    
}
.menu-reg:hover {
    color: #a61c1c;
    border: 2px solid #a61c1c;
    border-radius: 8px;
}
.header-landing {
    background-image: url("../images/bg.png");
    height: 636px;
}
.content-header {
    padding: 50px 40px 0px 20px;
}
.btn-header {
    color: white;
    background-color: #a61c1c;
    border: 0;
    border-radius: 12px;
    padding: 16px 28px;
    text-decoration: none;
    
}
.btn-header:hover {
    color: #a61c1c;
    background-color: white;
    border: 3px solid #a61c1c;
    transform: scale(2, 3);
}
.fitur {
    background-color: #f2f4f7;
}
.title-fitur {
    background-image: url("../images/title-s2.png");
    font-size: 36px;
    color: white;
    width: 100%;
    max-width: 584px;
    width: 100%;
    max-width: 584px;
    height: 128px;
    text-align: center;
    padding: 24px;
    display: flex; /* Menjadikan konten menjadi flexbox */
    justify-content: center; /* Memusatkan konten secara horizontal */
}
.card {
    border-radius: 16px;
    /* width: 22rem; */
    margin: 0 auto; /* Untuk membuat card berada di tengah */
    display: flex; /* Menjadikan konten menjadi flexbox */
    justify-content: center; /* Memusatkan konten secara horizontal */
}
.card {
    border-radius: 16px;
    /* width: 22rem; */
    margin: 0 auto; /* Untuk membuat card berada di tengah */
}
.card-paket:hover {
    border: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
.register {
    padding: 40px;
    font-family: "Montserrat", sans-serif;
}
.box-form {
    border-radius: 12px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 16px 0 rgba(0, 0, 0, 0.19);
    width: 80%;
    max-width: 540px;
    margin: auto;
    align-items: center;
    padding: 60px 80px 60px;
    height: 700px;
}
.button-container {
    width: 100%;
    text-align: center;
    margin-top: 0px;
}
.img-container {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
}
.box-checkout {
    border-radius: 12px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 16px 0 rgba(0, 0, 0, 0.19);
    width: 80%;
    max-width: 540px;
    margin: 20% auto;
    padding: 60px 80px 80px;
    position: relative;
}
.checkout {
    border-radius: 28px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 16px 0 rgba(0, 0, 0, 0.19);
    width: 80%;
    max-width: 540px;
    margin: 0 auto;
    margin-top: 40%;
    padding: 20px;
    position: block;
    background-color: white;
}
.after-checkout {
    border-radius: 36px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 16px 0 rgba(0, 0, 0, 0.1);
    max-width: 540px;
    margin: 0 auto;
    padding: 100px 80px 40px;
    position: relative;
}
.img-checkout {
    position: absolute;
    bottom: 80%;
    width: 160px;
    border-radius: 100%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 16px 0 rgba(0, 0, 0, 0.19);
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
}
.invoice {
    font-family: Arial, Helvetica, sans-serif;
    width: 30%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    width: 30%;
    margin: auto;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: white;
    padding: 0.5rem 0.5rem 1.25rem;
    margin-top: 2rem;
}
.line {
    width: 80%;
    border: none;
    height: 2px;
    background-color: black;
    margin: 30px auto;
}
.img-header {
    display: block;
}
#footer .d-flex {
    display: flex;
    align-items: center; /* Menyusun elemen secara vertikal di tengah */
}

#footer .d-flex img {
    width: 70px; /* Lebar gambar */
    margin-right: 10px; /* Jarak antara gambar dan teks */
}

.d-flex h4 {
    margin: 0; /* Menghapus margin bawaan */
    font-weight: bold;
}
#footer .col-2 a {
    display: block; /* Anchor berjejer ke bawah */
    text-align: center;
    margin-bottom: 10px; /* Jarak antara setiap anchor */
}
.icon-labelinput {
    height: 25px;
    width: 10px;
}
.dalam {
    box-sizing: border-box;

    /* width: 420px; */
    height: 210px;

    background: #a61c1c;
    border-radius: 5px;
}
.list-pembayaran {
    box-sizing: border-box;
    display: flex;
    text-align: center;
    font-size: 12px;
    width: 200px;
    height: 38px;
    margin-top: 25px;
    margin-left: 5px;
    background: #ffffff;
    border-radius: 5px;
    padding: 10px;
}



.list-pembayaran input[type="radio"] {
    margin-left: 3%;
    margin-right: 10px;
    transform: scale(1);
}
.list-pembayaran {
    display: flex;
    align-items: center;
}
.list-pembayaran .ikon {
    margin-right: auto;
}
.btn {
    text-align: left;
}
.dalam2 {
    overflow-y: scroll;
    box-sizing: border-box;
    padding: 10px !important;
    bottom: 2%;
    margin-left: 10%;
    max-height: 120px;
    border-color: #c4baba !important;
    background: #f2f4f8;
    border-radius: 5px;
    font-size: 13px;
}
hr{
    margin: 0; /* Menghilangkan margin */
    padding: 2; /* Menghilangkan padding */
}
.tes{
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 400;
}
.btn-text {
    padding: 15px;
    border: 2px solid #e9e9e9;
    border-radius: 0px 8px 8px 0px;
    width: 100%;
}

.tengahr a{
    
    padding-right: 20%;
    color: white;
    text-decoration: none;
}


.col-3.text-capitalize a {
    display: block;
    margin-bottom: 15px; /* Sesuaikan dengan ukuran margin yang Anda inginkan */
}

.col-2.text-capitalize a{
    padding-right: 65%; 
    color: white;
    text-decoration: none;
}

.col-2 .text-capitalize .alat{
    
}
@media (max-width: 992px) {
    #paket .col-3 {
        /* flex: 0 0 50%; */
        /* max-width: 50%; */
    }
    .fw-semibold.fs-5 p {
        font-size: 16px;
    }
    .fw-semibold.fs-5 p.mb-5 {
        font-size: 16px;
    }
    /* .box-form {
        width: 80%;
    } */
}

@media (max-width: 768px) {
    .img-header {
        display: none;
    }
    .nav-mobile {
        display: block;
        margin-left: auto;
        margin-top: 12px;
    }
    .list-mobile.active {
        display: block;
    }
    .nav-desktop {
        display: none;
    }
    .title-fitur {
        font-size: 24px;
        height: auto;
        padding: 12px;
    }
    .container {
        padding: 20px;
    }
    .card {
        /* width: 100%; */
        max-width: none;
        margin-bottom: 20px; /* Menambahkan ruang antara kartu */
    }

    .card img {
        width: 80px; /* Mengurangi lebar gambar */
    }

    .card-body {
        padding: 1rem; /* Mengurangi padding pada konten kartu */
    }

    .card-body h5 {
        font-size: 16px; /* Mengurangi ukuran font judul */
        height: auto; /* Mengubah ketinggian menjadi otomatis */
    }

    .card-body p {
        font-size: 14px; /* Mengurangi ukuran font teks */
        height: auto; /* Mengubah ketinggian menjadi otomatis */
    }
    #paket .col-3 {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 20px;
        align-items: center;
    }
    .container-footer {
        padding: 24px 12px 24px 12px;
    }

    .col-4,
    .col-2 {
        text-align: center;
        margin-top: 20px;
    }

    .text-uppercase {
        font-size: 14px;
    }

    .text-capitalize {

        font-size: 14px;
    }
    .box-form {
        width: 100%;
        border-radius: 0px;
        box-shadow: none;
        max-width: 540px;
        margin: auto;
        align-items: center;
        padding: 0px;
    }
    .label-img
    .label-img {
        display: none;
    }
    .img-checkout {
    .img-checkout {
        display: none;
    }
    .checkout {
        width: 100%;
        border-radius: 0px;
        box-shadow: none;
        max-width: 540px;
        margin: auto;
        align-items: center;
        padding: 0px;
        background-color: #f2f4f7;
        background-color: #f2f4f7;
    }
    .after-checkout {
        border-radius: 36px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1),
            0 4px 16px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1),
            0 4px 16px 0 rgba(0, 0, 0, 0.1);
        max-width: 540px;
        margin: 0 auto;
        padding: 60px 80px 40px;
        position: relative;
    }
    #footer .container-footer {
        padding-left: 15px;
        padding-right: 15px;
    }

    #footer .col-4 {
        flex: 0 0 100%; /* Mengubah lebar kolom menjadi 100% */
        max-width: 100%; /* Mengubah lebar maksimum menjadi 100% */
        text-align: center; /* Memastikan konten berada di tengah */
        margin-bottom: 20px; /* Menambahkan margin bawah antar kolom */
    }

    #footer .col-4 p {
        font-size: 14px; /* Mengurangi ukuran font pada teks */
        margin-bottom: 8px; /* Menambahkan margin bawah pada paragraf */
    }

    #footer .col-4 img {
        display: block; /* Agar gambar berada di tengah */
        margin: 0 auto; /* Memusatkan gambar ke tengah */
    }

    #footer .d-flex {
        display: flex;
        flex-direction: row;
        justify-content: center; /* Memusatkan elemen secara horizontal */
        align-items: center; /* Memusatkan elemen secara vertikal */
    }

    #footer .d-flex img {
        width: 70px; /* Mengatur lebar gambar */
        margin-right: 10px; /* Menambahkan jarak kanan antara gambar dan teks */
    }

    #footer .d-flex h4 {
        font-size: 18px;
        margin: 0;
        margin-right: 33%;
    }
    #footer .col-4 .d-flex {
        justify-content: center; /* Memusatkan tautan sosial media ke tengah */
    }

    #footer .col-2 {
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
        margin-bottom: 20px; /* Menambahkan ruang antara tautan */
    }
    #footer .col-2 a {
        display: block; /* Mengubah tautan menjadi blok, sehingga berjejer ke bawah */
        margin-bottom: 10px; /* Menambahkan jarak antara setiap tautan */
    }
}
}
@media (max-width: 576px) {
    .box-form input[type="text"],
    .box-form input[type="email"],
    .box-form input[type="number"],
    .box-form input[type="password"] {
        width: calc(100% - 50px);
    }
    .remember {
        flex-direction: column;
    }
    .card {
        /* width: 100%; */
    }
    .col-last {
        display: none;
    }
    #footer .col-2 {
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
    }
    #footer .d-flex {
        display: flex;
        flex-direction: row;
        justify-content: center; /* Memusatkan elemen secara horizontal */
        align-items: center; /* Memusatkan elemen secara vertikal */
    }

    #footer .d-flex img {
        width: 70px; /* Mengatur lebar gambar */
        margin-right: 10px; /* Menambahkan jarak kanan antara gambar dan teks */
    }

    #footer .d-flex h4 {
        font-size: 18px;
        margin: 0;
        margin-right: 33%;
    }
}

.icon-labelinput{
height: 25px;
width: 10px;
}


.dalam{
/* Frame 2427 */

box-sizing: border-box;


width: 420px;
height: 210px;


background: #A61C1C;
border: 1px solid #DCDCDC;
border-radius: 5px;

}

.list-pembayaran{

box-sizing: border-box;
display: flex;
text-align: center;
font-size: 12px;
width: 200px;
height: 38px;
margin-top: 25px;
margin-left: 5px;
background: #FFFFFF;
border-radius: 5px;
}





.list-pembayaran {
    display: flex;
    align-items: center;
}

.list-pembayaran .ikon {
    margin-right: auto;
}
.btn{
    text-align: left;
}



.btn-text {
    padding: 15px;
    border: 2px solid #E9E9E9;
    border-radius: 0px 8px 8px 0px;
    width: 100%;
}


.untukmobilelogo div{
 display: flex;
 flex-direction: row;       
}
@media only screen and (min-width: 1024px) {
    .fzt170{
        font-size:170% !important;
    }
    .height{
        height: 240px;
        padding-top: 5px;
    }
    
}
@media only screen and (min-width: 992px) and (max-width: 1024px) {
    .fzt992{
        font-size:140% !important;
    }
    
}
@media only screen and (min-width: 576px) {
    .sosmed576{
        justify-content: center;
        display: flex;
    }
}
@media only screen and (max-width: 767px) {
    .untukmobile{
        width:100%;
    }
        .untukmobiletext {
            padding:0 25%;
            border: 1px solid white;
          }
    .untukmobilelogo{
        justify-content: center;
        border: 1px solid white;
    }
    .untukmobilelogo div h4{
        padding-top: 20px;
        
    }
    .untukmobilelogo div img{
       margin: auto;
    }
    
    .untukmobilelogo div{
        display: flex;
        flex-direction: column;       
      
       }
       .sosmed767{
        display: flex;
        justify-content: center;
       }
}
@media only screen and (min-width: 577px) and (max-width: 767px) {
    .tengahr{
        display: flex;
        justify-content: center;
    }
}
@media only screen and (max-width: 577px){
    .tengahr{
        display: flex;
        padding-top: 10%;
        flex-direction: column;
    }
    .tengahr div{
        border: 1px solid white;
        margin: auto;
        width:50%;
    }

}
@media only screen and (min-width: 767px){
    .min767{
        display: flex;
        flex-direction: row;
    }
    .tengahr{
        width:60%;
        display: flex;        
        flex-direction: row;
        justify-content: space-around;
    }
    .untukmobile{
        width:39%;
    }
}

/* bronze ,silver ,gold ,platinum*/
@media only screen and (max-width: 582px){

    .max582{
        padding:20px !important;
    }
  

}
@media only screen and (max-width: 768px){
  .dalam{
        flex-direction: column !important;
        background-color: transparent !important;
        width: 100% !important;
        justify-content: center;
        border: 1px solid black;
        padding: 0 !important;
        align-items: center;
    }
    .dalamchild{
        background-color: #A61C1C;
        z-index: 10;
        width: max-content !important;
        display:flex;
        justify-content: center;
        flex-direction: column;
        padding: 0 10px;
        
       
    }
    .dalamchild:nth-child(2){
        padding-bottom: 20px;
    }
    #collapseExample {

        margin-top: 30%; 
    }
}

