.wadah{
overflow-x: scroll;
width: 1200px;

}


.gambar-atas{

    height: 70px;
    width: 70px;
    border-radius: 35px;
}

.ta {
    border-radius: 10px;
    border: none;
    outline: none;
    padding-left: 25px;
    padding-right: 25px;
    /* text-align: center; */
    /* margin-right: 82%; */
    padding-top: 2%;
}

.bawah-dua{
    margin-top: -50px;
}






