/* assets/Css/margepenilaiandivisi.css */

/* Gaya untuk judul card */
.card .card-header h3 {
    font-size: 24px;
    color: #333; /* Warna teks judul */
}

/* Gaya untuk label form */
.form-group label {
    font-size: 18px;
    color: #555; /* Warna teks label */
}

/* Gaya untuk tombol edit dan hapus */
.btn-danger {
    background-color: #dc3545; /* Warna latar belakang tombol hapus */
    color: #fff; /* Warna teks tombol hapus */
    border: none; /* Hapus border */
}

/* Mengubah warna tombol edit menjadi biru */
.btn-edit {
    background-color: #007bff; /* Warna latar belakang tombol edit */
    color: #fff; /* Warna teks tombol edit */
}


/* Mengatur margin dan padding */
.container {
    margin-top: 20px;
}


.card {
    margin-bottom: 20px;
    margin-top: 10px;
}

.card-body {
    padding: 20px;
}

.table {
    margin-bottom: 0;
}

/* Responsif untuk tabel */
.table-responsive {
    overflow-x: auto;
}
.wadah{
    position:fixed;
    top:0;
    left:250px;
    height: 100%;
    bottom:0;
    right:0;
    width:100%;
    z-index:-9;
    padding-right:250px !important;
    
}
.kiri-putih{
    height:100%;
    width:250px;
   
    padding-top:5% !important;
    background-color: white;
    display: inline-block;
}
.kanan-tabel{
    width:auto;
    display:inline-block;
    padding-top:7% !important;
    box-sizing: border-box;
}
.nav-item a {
    color: black; /* Mengatur warna teks menjadi hitam */
}

.page, .item{
    background: #c6c6c6;
    border-radius:5px;
}

.manageP {
    text-decoration: none; /* Menghapus garis link */
    background-color: pink; /* Warna latar belakang */
    border-radius: 7px; /* Radius border */
    
}
.logout{
    position: absolute;
    bottom: 10px;
}

.col-md-auto .me-auto{
    display: flex;
    flex-direction: row;
}
.konfirmasiBackdrop{
    background-color: transparent !important;
    z-index: -10 !important;
}
.modal-frame-4{
    z-index:1000 !important;
}
.tambah{
    border-radius: 5px;
    background: #ffffff;
    border: none;
    margin-top: 20px;
}
.ic{
    color: #228300;
}


.toggle-button {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: #ccc;
    border: none;
    border-radius: 34px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .toggle-button span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    transition: background-color 0.2s ease-in-out;
  }
  
  .toggle-button:active span {
    background-color: #ccc;
  }
  