/* assets/Css/margepenilaiandivisi.css */

/* Gaya untuk judul card */
.card .card-header h3 {
    font-size: 24px;
    color: #333; /* Warna teks judul */
}

/* Gaya untuk label form */
.form-group label {
    font-size: 18px;
    color: #555; /* Warna teks label */
}

/* Gaya untuk tombol edit dan hapus */
.btn-danger {
    background-color: #dc3545; /* Warna latar belakang tombol hapus */
    color: #fff; /* Warna teks tombol hapus */
    border: none; /* Hapus border */
}

/* Mengubah warna tombol edit menjadi biru */
.btn-edit {
    background-color: #007bff; /* Warna latar belakang tombol edit */
    color: #fff; /* Warna teks tombol edit */
}


/* Mengatur margin dan padding */
.container {
    margin-top: 20px;
}

.card {
    margin-bottom: 20px;
}

.card-body {
    padding:0 20px;
}

.table {
    margin-bottom: 0;
    margin-top: -8px;
}

/* Responsif untuk tabel */
.table-responsive {
  
}
.wadah{
    position:fixed;
    top:0;
    left:250px;
    height: 100%;
    bottom:0;
    right:0;
    width:100%;
    z-index:-9;
    padding-right:250px !important;
    
}
.kiri-putih{
    height:100%;
    width:250px;
   
    padding-top:5% !important;
    background-color: white;
    display: inline-block;
}
.kanan-tabel{
    width:auto;
    display:inline-block;
    padding-top:10% !important;
    
    box-sizing: border-box;
}
.nav-item a {
    color: black; /* Mengatur warna teks menjadi hitam */

}

.page, .item{
    background: #c6c6c6;
    border-radius:5px;
    
}

.manageP {
    text-decoration: none;
    background-color: pink; 
    border-radius: 7px; 
}
.logout{
    position: absolute;
    bottom: 10px;
}

.col-md-auto .me-auto{
    display: flex;
    flex-direction: row;
}
.konfirmasiBackdrop{
    background-color: transparent !important;
    z-index: -10 !important;
}
.modal-frame-4{
    z-index:1000 !important;
}

.modal-dialog{
top: 30%;
background: #FFFFFF;
border-radius: 10px;

}
.modal-body{

left: 0%;
right: 0%;
top: 42.39%;
bottom: 51.46%;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;

color: #000000;


}
.modal-title{

left: 40.73%;
right: 44.69%;
top: 9.71%;
bottom: 78.96%;
width: 100%;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 29px;
line-height: 35px;


color: #000000;
}

.btnbatal{
color: white;
border: none;
background: #E5383B;
border-radius: 9px;

}
.btnya{
    color: black;

background: white;
border-radius: 9px;
}
.abu{
    color: #555;
}
.putih{
    color: #FFFFFF;
}
#example{
    overflow: scroll  !important;
    height: max-content;
}
