/* Style untuk judul */
/* p { */
/* font-size: 24px; */
/* margin-bottom: 20px; */
/* color: #0e0d0d; Warna teks */
/* text-align: weigh; Memusatkan judul */
/* } */

/* Style untuk form-check */
.form-check {
    margin-bottom: 10px;
    color: #141313;
}

/* Style untuk tombol */
.btn-primary {
    background-color: #141313;
    border-color: #1b1a1a;
    color: #fff; /* Warna teks tombol */
}

.btn-primary:hover {
    background-color: #161414;
    border-color: #161414;
}

.btn-primary:focus,
.btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.5);
}
.h3 {
    color: #0056b3;
}
/* .container h3 { */
/* font-size: 50px; Ukuran judul */
/* margin: 0; Hilangkan margin atas dan bawah */
/* color: #cc1515; Warna teks judul */
/* } */

/* Gaya khusus untuk deskripsi */
.container p {
    margin: 0; /* Hilangkan margin atas dan bawah */
    font-size: 18px; /* Ukuran font untuk deskripsi */
    color: #1b1313; /* Warna teks deskripsi */
}

.abs-kiri {
    position: absolute;
    top: 20%;
    left: 0;
}
.wadah {
    position: relative;
}
.p-0 {
    color: #e91111;
}
.p {
    color: black;
}
.simpan {
    color: #e91111;
}
.container {
    margin-bottom: 10px;
}

.round {
    display: inline-block;
    position: relative;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    display: inline-block;
}

input[type="checkbox"] + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #727679;
    border-radius: 50%;
}

input[type="checkbox"]:checked + label:before {
    background-color: blue;
}

input[type="checkbox"] + label:after {
    content: "";
    position: absolute;
    left: 7px;
    top: 7px;
    width: 6px;
    height: 11px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    display: none;
}

input[type="checkbox"]:checked + label:after {
    display: block;
}
