body{
    background-color: #EEEEEE;
    padding-left:250px;
    padding-top:50px;
  }
  .sidebar {
    position: fixed; /* Tetap pada posisi */
    top: 0; /* Menempatkan sidebar di bagian atas */
    left: 0; /* Menempatkan sidebar di bagian kiri */
    height: 100%; /* Mengisi tinggi layar penuh */
    width: 250px; /* Lebar sidebar */
    background-color: #DCDCDC; /* Ubah warna latar belakang sidebar */
    color: #000; /* Ubah warna teks tautan */
    padding-top: 50px; /* Ruang atas sidebar */
    z-index:10;
    box-shadow: 0 0 20px rgb(146, 146, 146);
  }

  .nav-link {
    padding: 10px 20px; /* Padding untuk setiap tautan */
    display: block; /* Tautan menjadi blok */
    color: #000; /* Ubah warna teks tautan */
    text-decoration: none; /* Hilangkan garis bawah */
    list-style-type: none; /* Menghilangkan bullet */

  }

  .nav-link:hover {
    background-color: #e9ecef; /* Warna latar belakang saat mouse di atas tautan */
  }

  a.nav-link.activee {
    font-weight: bold; /* Menebalkan tautan aktif */
    background-color: #007bff; /* Warna latar belakang untuk tautan aktif */
    color: #fff; /* Warna teks untuk tautan aktif */

  }


  .sidebar {
    text-align: center;
  }

  .logo {
    margin-bottom: 80px; /* Atur jarak antara logo dan daftar menu */
  }

  .logout{
    position:absolute;
   bottom:10%;
   color: #302f2f;
   opacity: 0.6;
  }
