

.content{
    text-align: center;
}
.content h1{
    margin-top: 8%;
    color: #A4161A;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.content p{
    font-family: arial;
    font-size: 20px;
}
.inputan{
    display: list-item;
    text-align: center;
}
.passwordbaru{
padding-left: 1%;
width: 20%;
height: 5%;
box-sizing: border-box;
border: 1px solid #000000;
border-radius: 15px;
margin-top: 2%;
}

.tombol-Continue{
    padding-top: 4%;
    text-align: center;
}
.botton{
    color: white;
    font-size: 20px;
    height: 6%;
    width: 18%;
    background-color: #A4161A;
    border-radius: 50px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);

  }

  .modal-content {
    width: 556px;
    height: 312px;
    background: #ffffff;
    border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .modal-content h1{
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .modal-content img{
    margin-top: 5%;
  }
  .modal-content p{
    margin-top: 10%;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


