html,
body {
  overflow-x: hidden;
  overflow-y: hidden;
}

.Rectangle {
    width: 500px;
    height: 500px;
    background: #F8F9FA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ikon {
    margin-top: 7%;
    text-align: center;
    margin-bottom: 20px; /* Menambahkan jarak vertikal di bawah .ikon */
}
.heading {
    text-align: center;
    margin-top: -5%; /* Menambahkan jarak vertikal di atas .heading */
}

.style_heading{
font-family: Arial, sans-serif;
font-weight: 750;
font-size: 35px;
color: #000000;
}

.username{
    font-family: Arial, sans-serif;
    margin-left: 10%;
    font-size: 16px;
}
.inputt{
    margin-top: 1%;
    margin-left: 10%;
    width: 80%;
    height: 40px;
    border: 1px solid #000000;
    border-radius: 5px;
    padding-left: 15px;
}
.pengingat{
    display: flex;
    margin-left: 10%;
}
.resetsandi{
    margin-right: 10%;
}
.TombolLogin {
    height: 8%;
    width: 35%;
    color: #FFFFFF;
    background: #6C757D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    border: none;
    transition: background-color 0.3s; /* Efek transisi ketika warna latar belakang berubah */
  }

  .TombolLogin:hover {
    background: #A4161A; /* Warna latar belakang saat dihover */
  }
.TombolLogin a {
    color: white; /* Warna teks putih */
    text-decoration: none; /* Menghilangkan garis bawah */
}
.daftarakun{
    text-align: center;
}


