html,
body
{

}


.kembali{
    display: flex;
    font-size: 20px;
    margin: 20px;
    padding-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.gambarreload{
    margin-top: 5%;
    margin-bottom:3% ;
    text-align: center;
}

.perintah{
    text-align: center;
    margin-bottom: 3%;
    margin-top: 5%;
}

.perintah p{
    font-family: Arial, Helvetica, sans-serif;
}
.otp-input {
    height: 70px;
    width: 70px;
    text-align: center;
    margin: 0 5px;
    font-size: 30px;
    background: #ECEFF2;
    border: none;
}


.otp-container {
    display: flex;
    justify-content: center;
}

.tombol-Continue{
    padding-top: 4%;
    text-align: center;
}
.botton{
    color: white;
    font-size: 15px;
    height: 6%;
    width: 15%;
    background: #A4161A;
    border-radius: 30px;
}


