html,
body {
  overflow-x: hidden;
  overflow-y: hidden;
}
.kembali{
    display: flex;
    font-size: 20px;
    margin: 20px;
    padding-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.kembali a {
    margin-right: 30px; /* Menambahkan jarak antara gambar dan teks */
}
.hiding{
    text-align: center;
    padding-top: 4%;
}
.hiding h1{
    color: #A4161A;
    font-family: Arial;

}
.hiding p{
    font-family: Arial;
    font-size: 20px;
}
.konfirmasi-email{
    padding-top: 20px;
    text-align: center;
}
.inputt{
height: 5%;
width: 30%;
border-radius: 30px;
padding-left: 15px;
}

.tombol-Continue{
    padding-top: 4%;
    text-align: center;
}
.botton{
    color: white;
    font-size: 20px;
    height: 6%;
    width: 10%;
    background-color: #A4161A;
}

