html,
body {
  overflow-x: hidden;
}
.card {
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.card-header {
    color: white;
    background-color: #404040;
    border-bottom: 1px solid #ddd;
    position: relative;
}
.parent-relatife{
    position: relative;
}

.kekiri{
    position: absolute;
    left:-2%;
    z-index: 10;
    top:10px;
    color: black;

}


.dropdown {
    position: relative;
    display: inline-block;
}
.dropbtn {
    width: 90px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:focus-within .dropdown-content {
    display: block;
}

.checkbox-label {
    display: block;
    margin-bottom: 8px;
}
table {
    width: 80%; /* Atur lebar tabel */
    margin: auto; /* Tengahkan tabel */
    border-collapse: collapse;
}

.table th {
    text-align: center;
    background-color: #DCDCDC;
}

.table tr td {
    background-color: white !important;
}
.table tr{
    background-color: white !important;
}
.search{
    padding-right: 10px;
}

.date-filter{
    display: flex;
    justify-content: flex-end;
}

.date1, .date2 {
margin: 1%;
box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 3px;
background-color: #E9E9E9;
width: 135px;
height: 40px;
left: 1650px;
top: 354px;
border: 0.5px solid #000000;
}

.tombolfilter{
margin-top: 1%;
box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 3px;
background-color: #E9E9E9;
width: 100px;
height: 40px;
left: 1650px;
top: 354px;
border: 0.5px solid #000000;
}

.collapsed {
    display: none;
}
.status-shift{
box-sizing: border-box;
position: absolute;
width: 135px;
height: 250px;
left: 1080px;
top: 170px;
background: #FFFFFF;
border: 0.5px solid rgba(0, 0, 0, 0.3);
border-radius: 0px 0px 8px 8px;
flex: none;
order: 3;
flex-grow: 0;
z-index: 3;
}
.isistatus-shift{
    margin: 10px;
}
.tombolsearch{
    margin-left: 1%;
    margin-top: 1%;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #E9E9E9;
    width: 40px;
    height: 40px;
    border: 0.5px solid #000000;
    font-size: 21px;
}

