html,
body {
  overflow-x: hidden;

}

.fa-chevron-left {
    position: relative;
    font-size: 40px;
    color: black;
    top: -40px ;
    margin-right: 20px;
}
.header{
width: 1419px;
height: 120px;
left: 446px;
top: 151px;
color: white;
background: #404040;

}
#search-input {
width: 400px;
background: #E9E9E9;
border-radius: 7px;
right: 1%;
}
.search-input{
    right: 100%;
}
.label {
    margin-right: 10px; /* Atur jarak antara label dan input */
    margin-top: 10px;


}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropbtn {
    width: 90px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:focus-within .dropdown-content {
    display: block;
}

.checkbox-label {
    display: block;
    margin-bottom: 8px;
}
.table-container {
    overflow-x: auto; /* Membuat wadah tabel dapat digulir secara horizontal */
    margin-left: 40px;
}
.table th {
    text-align: center;
    background-color: #DCDCDC;
}
.table tr td {
    text-align: center;
    background-color: white !important;
}

