html,
body {
  overflow-x: hidden;
  overflow-y: hidden;
}

.dashboard{
    height: auto;
    width: auto;
    padding-top: 10%;
    margin-left: 100px;
    /* background-color: red; */
}

.judul{
font-style: normal;
font-weight: bold;
font-size: 40px;
color: #26577C;
}

.card {
box-sizing: border-box;
width: 434px;
height: 223.27px;
background: #EEEEEE;
border: 1px solid #FFFFFF;
box-shadow: 10px 4px 123px rgba(0, 0, 0, 0.25);
border-radius: 30px;
margin-bottom: 100%;
margin-right: 10%;

}

.gambar{
    width: 150px;
    height: auto;
    margin-top: 30px;
    margin-left: 50px;

}

.jumlahsiswa{
font-size: 20px;
text-align: right;
color: #26577C;
margin: 5% ;
}

.bawahan{
box-sizing: border-box;
height: 78px;
background: #FFFFFF;
border-width: 0px 1px 1px 1px;
border-style: solid;
border-color: #FFFFFF;
border-radius: 0px 0px 30px 30px;
display: flex ;
color: #26577C;
font-weight: bold;
font-size: 20px;

}

.left {
    flex: auto ;
    padding-left: 60%;
    padding-top: 5%;
}
.right{
    padding-left: 20px;
    padding-top: 5%;
}

.masuk, .izin{
    flex: auto;

    color: #26577C;
    margin: 5% ;

}

.bawahan2{
    box-sizing: border-box;
    height: 78px;
    background: #FFFFFF;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: #FFFFFF;
    border-radius: 0px 0px 30px 30px;
    display: flex ;
    color: #26577C;
    font-weight: bold;
    font-size: 20px;
}


