html,
body {
  overflow-x: hidden;
  overflow-y: hidden;
}

.topcontent{
    display:flex;
    margin: 2%;
    padding-left: 3%;
    justify-content: space-between;
}

.input{
    width: 600px ;
    border: 1px solid #000000;
    border-radius: 4px;
    background: #E9E9E9;
}
.inputsearch{
box-sizing: border-box;
width: 567px;
height: 35px;
background: #E9E9E9;
border: none;

}

.isi{
    margin-left: 5%;
    margin-bottom: 15%;

}
.icon{
font-size: 30px;
border-radius: 100px;
background: #FFFFFF;
padding: 20px;
margin-right: 20px;
margin-bottom: 10px;
}

.list{
    color: black;
    text-decoration:none;
}









