html,
body {
    overflow-x: hidden;

}
.topcontent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2%;
}

.topcontent > div:first-child {
    margin-right: auto;
    padding-left: 3%;
}
.topcontent > div:nth-child(2) {
    margin-right: auto;
    padding-right: 10%;
}

.icon{
    font-size: 30px;
    color: black;
}
.input{
    width: 90% ;
    border: none;
    border-radius: 10px;
    background: white;


}
.inputsearch{
    box-sizing: border-box;
    width: 300px;
    height: 35px;
    background: white;

    border: none;
    outline: none;
}

.isi{
    padding-right: 3%;
    padding-left: 5%;
    margin-top: -40px !important;
    box-sizing: border-box;
}

.card{
    height: 200%;
}
.atasan {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #404040;
    color: white;
    height: 80%;
    padding: 0 10px;
    font-size: 14px;


}
.atasan:hover{
    background: linear-gradient(to right,rgb(120, 6, 6), black);
    transition: .3s;
}

.atasan span {
    flex: 1;
    text-align: center;

}
.ikon{
    color: white;
    font-size: 16px;
}

.bawahan {
    padding-left: 10%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #000000;
    border-radius: 0 0 5px 5px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 30%;
    top: 10%;

  }

  .dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

  }

  .dropdown-menu a:hover {
    background-color: #f1f1f1;
  }
